@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */

    /* Primary */

    --light-red : hsl(356, 100%, 66%); /*(CTA text)*/
    --very-light-red : hsl(355, 100%, 74%); /*(CTA hover background)*/
    --very-dark-blue : hsl(208, 49%, 24%); /*(headings)*/

    /* Neutral */

    --white : hsl(0, 0%, 100%); /*(text)*/
    --grayish-blue : hsl(240, 2%, 79%); /*(footer text)*/
    --very-dark-grayish-blue : hsl(207, 13%, 34%); /*(body copy)*/
    --very-dark-black-blue : hsl(240, 10%, 16%); /*(footer background)*/

    /* Gradient */

    /* Background gradient - Intro/CTA mobile nav: */

    --gradient-very-light-red: hsl(13, 100%, 72%);
    --gradient-light-red: hsl(353, 100%, 62%);

    /* Background gradient - body: */

    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);

    --overpass: 'Overpass', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

/* 













 */

body{
    font-size: 16px;
    font-family: var(--overpass);
}

.header{
    /* background-image: url("./images/bg-pattern-intro-mobile.svg");
    background-position: -396px;
    background-repeat: no-repeat;
    background-color: var(--light-red); */
    background-image: linear-gradient(var(--gradient-very-light-red), var(--gradient-light-red));
    padding-bottom: 150px;
    border-radius: 0px 0px 0px 100px;
}

.header__nav{
    display: flex;
    /* max-width: 992px; */
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 40px 30px;
    margin: 0 auto;
}

.nav__a{
    font-size: 24px;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    margin-left: 15px;
}

.nav__ul{
    display: flex;
}

.ul__li{
    margin: 0 15px;
    text-decoration: none;
    list-style: none;
}

.ul__li > a {
    color: var(--white);
    text-decoration: none;
    list-style: none;
}

nav > ul > li:hover{
    transform: scale(1.2, 1.2);
}

.nav__buttons{
    display: none;
}

.nav__toggle{
    color: var(--white);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    display: none;
    cursor: pointer;
}

.header__presentacion{
    color: var(--white);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.presentacion__h1{
    font-family: var(--overpass);
    font-weight: 700;
    margin-bottom: 15px;
}

.presentacion__p{
    font-family: var(--overpass);
    margin-bottom: 40px;
    font-size: 18px;
}


.presentacion__buttons{
    display: flex;
    justify-content: space-around;
}

.buttons__button{
    width: 130px;
    height: 45px;
    color: var(--white);
    font-size: 16px;
    font-family: var(--overpass);
    font-weight: 700;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--white);
}

.button__sign{
    color: var(--light-red);
    background-color: var(--white);
}

.designed__section, .laptop__section{
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 175px;
}

.designed__h2, .article__h2{
    color: var(--very-dark-blue);
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 50px;
}

.article__img, .laptop__img{
    max-width: 100%;
    margin-bottom: 50px;
}

.article__editor, .infrastructure__div{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.editor__p, .infrastructure__p{
    color: var(--very-dark-desaturated-blue);
    line-height: 1.7;
    font-weight: 500;
}

.infrastructure__article{
    /* margin: 50px 0; */
    position: relative;
    height: 650px;
    background-color: var(--very-dark-desaturated-blue);
    background-image: url('./images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: -140px -350px;
    background-size: cover;
    border-radius: 0 100px 0 100px;
    padding-bottom: 75px;
}

.infrastructure__img{
    max-width: 100%;
    position: relative;
    top: -175px;
}

.infrastructure__div{
    position: relative;
    top: -120px;
}

.infrastructure__h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 25px;
    color: var(--white);
}

.infrastructure__p{
    text-align: center;
    color: var(--white);
}

.laptop__section{
    margin-bottom: 30px;
}

.footer{
    background-color: var(--very-dark-black-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0 0 0;
    border-radius: 0 100px 0 0;
}

.footer__logo{
    margin-bottom: 50px;
}

.footer__titles{
    text-align: center;
}

.titles__ul{
    margin: 25px 0;
}

.titles__li, .titles__title{
    text-decoration: none;
    list-style: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
}

.titles__title{
    font-weight: 600;
}

.titles__li{
    margin-bottom: 10px;
    color: var(--grayish-blue);
}

.titles__li:last-child{
    margin-bottom: 50px;
}






@media (max-width: 768px) {
    .nav__ul{
        flex-direction: column;
        align-items: center;
        background-color: #2c3e50;
        position: fixed;
        left: 100%;
        top: 60px;
        width: 100%;
        height: calc(100% - 60px);
        overflow-y: auto;
        transition: left 0.5s;
    }
    .ul__li{
        padding: 20px 0;
    }
    .nav__toggle{
        display: block;
    }
    .nav__ul__visible{
        left: 0;
    }
    .nav__toggle:focus:not(:focus-visible){
        outline: none;
    }

    /* .nav__buttons{
        display: block;
    } */

}


.attribution { font-size: 11px; text-align: center; color: var(--white); }
.attribution a { color: var(--white); }