@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    /* Colors */

    /* Primary */

    --light-red : hsl(356, 100%, 66%); /*(CTA text)*/
    --very-light-red : hsl(355, 100%, 74%); /*(CTA hover background)*/
    --very-dark-blue : hsl(208, 49%, 24%); /*(headings)*/

    /* Neutral */

    --white : hsl(0, 0%, 100%); /*(text)*/
    --grayish-blue : hsl(240, 2%, 79%); /*(footer text)*/
    --grayish-blue-2 : hsl(240, 2%, 79%, 0.5); /*(footer text)*/
    --very-dark-grayish-blue : hsl(207, 13%, 34%); /*(body copy)*/
    --very-dark-black-blue : hsl(240, 10%, 16%); /*(footer background)*/

    /* Gradient */

    /* Background gradient - Intro/CTA mobile nav: */

    --gradient-very-light-red: hsl(13, 100%, 72%);
    --gradient-light-red: hsl(353, 100%, 62%);

    /* Background gradient - body: */

    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);

    --overpass: 'Overpass', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

body{
    font-size: 16px;
    font-family: var(--overpass);
}

.header{
    background-image: url("./images/bg-pattern-intro-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--light-red);
    padding-bottom: 150px;
    border-radius: 0px 0px 0px 100px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 40px 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.nav__a{
    font-size: 24px;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    margin-left: 15px;
}

.nav__toggle{
    color: var(--white);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    display: block;
    cursor: pointer;
}

.nav__ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    position: fixed;
    left: 100%;
    top: 100px;
    width: 80%;
    height: fit-content;
    overflow-y: auto;
    transition: left 0.5s;
    margin: 0 auto;
    border-radius: 5px;
}

.close{
    display: none;
}

.close--active{
    display: block;
}

.open{
    display: block;
}

.open--close{
    display: none;
}

.nav__ul__visible{
    left: 0;
    right: 0;
}

.ul__li{
    margin: 15px 0;
}

.ul__li > a {
    color: var(--very-dark-black-blue);
    font-weight: 600;
    font-size: 17px;
}

.li__arrow{
    height: 10px;
    margin-left: 10px;
}

.up{
    transform: rotate(180deg);
}

.li__arrow--light{
    display: none;
}

.li__container{
    text-align: center;
    width: 80%;
}

.ul__container{
    display: none;
}

.ul__container--active{
    display: block;
    width: 100%;
    background-color: var(--grayish-blue-2);
    color: var(--very-dark-grayish-blue);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.ul__container li{
    padding: 10px;
    font-weight: 600;
}

.nav__buttons{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-top: 1px solid var(--grayish-blue);
}

.buttons__button{
    width: 130px;
    height: 45px;
    color: var(--white);
    font-size: 16px;
    font-family: var(--overpass);
    font-weight: 700;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--white);
}

.button__login{
    color: var(--very-dark-black-blue);
}

.button__login:hover, .button__more:hover{
    cursor: pointer;
    color: var(--very-light-red);
    background-color: var(--white);
}

.button__sign{
    color: var(--light-red);
    background-color: var(--white);
}

.button__sign--nav{
    color: var(--white);
    background-image: linear-gradient(to right, var(--gradient-very-light-red), var(--gradient-light-red));
}

.button__sign--nav:hover{
    cursor: pointer;
}

.button__sign:hover{
    cursor: pointer;
    background-color: var(--very-light-red);
    color: var(--white);
    border: none;
}

.header__presentacion{
    color: var(--white);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.presentacion__h1{
    font-family: var(--overpass);
    font-weight: 700;
    margin-bottom: 15px;
}

.presentacion__p{
    font-family: var(--overpass);
    margin-bottom: 40px;
    font-size: 18px;
}

.presentacion__buttons{
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    margin: 0 auto;
}

.designed__section, .laptop__section{
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 175px;
}

.designed__h2, .article__h2{
    color: var(--very-dark-blue);
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 50px;
}

.article__img, .laptop__img{
    max-width: 100%;
    margin-bottom: 50px;
}

.article__editor, .infrastructure__div{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.editor__p, .infrastructure__p{
    color: var(--very-dark-desaturated-blue);
    line-height: 1.7;
    font-weight: 500;
}

.infrastructure__article{
    position: relative;
    height: 650px;
    background-color: var(--very-dark-desaturated-blue);
    background-image: url('./images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: -140px -350px;
    background-size: cover;
    border-radius: 0 100px 0 100px;
    padding-bottom: 75px;
}

.infrastructure__img{
    max-width: 100%;
    position: relative;
    top: -175px;
}

.infrastructure__div{
    position: relative;
    top: -120px;
}

.infrastructure__h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 25px;
    color: var(--white);
}

.infrastructure__p{
    text-align: center;
    color: var(--white);
}

.laptop__section{
    margin-bottom: 30px;
}

.footer{
    background-color: var(--very-dark-black-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0 0 0;
    border-radius: 0 100px 0 0;
}

.footer__logo{
    margin-bottom: 50px;
}

.footer__titles{
    text-align: center;
}

.titles__ul{
    margin: 25px 0;
}

.titles__li, .titles__title{
    text-decoration: none;
    list-style: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
}

.titles__title{
    font-weight: 600;
}

.titles__li{
    margin-bottom: 10px;
    color: var(--grayish-blue);
    border-bottom: 1px solid transparent;
}

.titles__li:hover{
    cursor: pointer;
    width: max-content;
    border-bottom: 1px solid var(--white);
}

.titles__li:last-child{
    margin-bottom: 50px;
}

@media screen and (min-width:768px) {
    .footer{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    .footer__titles{
        text-align: start;
    }

    .titles__ul{
        margin: 35px 0;
    }
}

@media screen and (min-width:1024px) {

    .header{
        background-image: url("./images/bg-pattern-intro-desktop.svg");
    }

    .nav__toggle{
        display: none;
    }

    .nav__ul{
        position: inherit;
        flex-direction: row;
        background-color: transparent;
        left: inherit;
        right: inherit;
        top: inherit;
        justify-content: space-between;
    }
    
    .ul__li{
        margin: 0 15px;
        display: flex;
    }

    .ul__li > a {
        color: var(--white);
        font-size: 16px;
    }
    
    .li__arrow{
        display: none;
    }

    .li__arrow--light{
        display: inherit;
        height: 10px;
        margin-top: 5px;
        margin-left: 10px;
    }

    .li__container{
        display: flex;
    }
    
    .ul__container--active{
        position: fixed;
        top: 100px;
        width: 150px;
        background-color: var(--white);
        text-align: start;
    }

    .ul__container li:hover{
        cursor: pointer;
        color: var(--very-dark-black-blue);
        font-weight: 600;
    }
    
    .nav__buttons{
        margin: 0;
        flex-direction: row;
        width: auto;
        border-top: none;
    }
    
    .button__login{
        color: var(--white);
        border: none;
        margin-right: 15px;
    }
    
    .button__login:hover, .button__more:hover{
        cursor: pointer;
        color: var(--very-light-red);
        background-color: var(--white);
    }
    
    .button__sign{
        color: var(--light-red);
        background-color: var(--white);
    }
    
    .button__sign--nav{
        color: var(--very-light-red);
        background-image: none;
        background-color: var(--white);
    }
    
    .button__sign--nav:hover{
        cursor: pointer;
        background-color: var(--very-light-red);
        border: none;
        color: var(--white);
    }
    
    .button__sign:hover{
        cursor: pointer;
        background-color: var(--very-light-red);
        color: var(--white);
        border: none;
    }

    .header__presentacion{
        margin-top: 50px;
    }

    .presentacion__h1{
        font-size: 42px;
    }

    .article__img{
        display: none;
    }

    .designed__section{
        background-image: url('./images/illustration-editor-desktop.svg');
        background-repeat: no-repeat;
        background-position: calc(100% + 250px);
        background-size: 70%;
        overflow: hidden;
    }

    .designed__article, .laptop__article{
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        margin-bottom: 150px;
    }

    .designed__h2{
        margin-bottom: 100px;
        font-size: 36px;
    }

    .article__container{
        text-align: left;
        left: 0;
    }

    .article__editor{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 75px;
    }

    .infrastructure__div{
        width: 35%;
        position: absolute;
        top: 115px;
        right: 50px;
    }

    .infrastructure__h2{
        text-align: start;
        font-size: 36px;
        margin-bottom: 25px;
    }

    .infrastructure__p{
        text-align: start;
    }

    .infrastructure__article{
        height: 400px;
        background-size: auto;
        background-position: -200px -630px;
    }

    .infrastructure__img{
        top: -70px;
    }

    .laptop__section{
        background-image: url('./images/illustration-laptop-desktop.svg');
        background-repeat: no-repeat;
        background-position: calc(0% - 280px);
        background-size: 70%;
        margin-top: 150px;
        margin-bottom: 100px;
        overflow: hidden;
    }

    .laptop__img{
        display: none;
    }

    .laptop__article{
        margin-top: 150px;
    }

    .articles__container--laptop{
        display: flex;
        flex-direction: column;
        text-align: left;
        left: 0;
    }

    .article__editor--laptop{
        width: 50%;
        margin-left: 45%;
    }

}

@media screen and (min-width:1200px) {

    .designed__section{
        background-size: contain;;
    }
    .laptop__section{
        background-size: contain;
    }

}

@media screen and (min-width:1440px) {

    .presentacion__h1{
        font-size: 56px;
    }

    .article__editor{
        margin-left: 150px;
    }

    .article__editor--laptop{
        margin-left: 45%;
    }
}